/* Apply a transition for smooth color changes */
.icon, .text {
    transition: fill 0.3s ease, color 0.3s ease;
}

/* Define the fill color for the SVG path */
.icon path {
    
}

/* Change the color of the SVG and text on hover */
.frame1card:hover .icon path, 
.frame1card:hover .text {
    color: white;
    fill: white;
}
.frame1card:hover{
    color: white;
}

#f1-c1:hover{
    background-color: #8064A2;
}
#f1-c2:hover{
    background-color: #77933C;
}
#f1-c3:hover{
    background-color: #C0504D;
}
#f1-c4:hover{
    background-color: #0096C8;
}